<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <p class="mb-0">
    <a href="#">Back to top</a>
  </p>
  <p>
    <small>
      This blog app is built by
      <a href="https://github.com/immkavin-ranks/" target="_blank">@immkavin-ranks</a>.
    </small>
  </p>
  <p>
    <small
      >&copy; <%= new Date().getFullYear() %> Kavin Manoharan. All rights
      reserved.</small
    >
  </p>
</footer>
<script
  src="/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
